fullnameOverride: fractal-flame

backend:
  image:
    repository: fractal-flame-backend
    tag: latest
    pullPolicy: IfNotPresent
  replicas: 1
  port: 3000
  config:
    enabled: false
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

frontend:
  image:
    repository: fractal-flame-frontend
    tag: latest
    pullPolicy: IfNotPresent
  replicas: 1
  port: 80
  resources:
    requests:
      memory: "32Mi"
      cpu: "50m"
    limits:
      memory: "64Mi"
      cpu: "100m"

ingress:
  enabled: true
  className: ""
  host: fractal-flame.local
  annotations: {}
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  tls: false
  # tls: true
  # secretName: fractal-flame-tls
